body{
background:#050b1a;
color:white;
font-family:Arial;
text-align:center;
}

h1{color:#00ffcc;}

.wrap{
display:flex;
justify-content:space-around;
}

.green{width:45%;background:#063020;padding:15px;border-radius:12px;}
.red{width:45%;background:#300606;padding:15px;border-radius:12px;}

table{width:100%;border-collapse:collapse;}
th,td{padding:8px;border-bottom:1px solid #333;}

.pos{color:#00ff88;}
.neg{color:#ff4444;}

