<!DOCTYPE html>
<html>
<head>
<title>MoneyAssure Intraday Scanner</title>
<link rel="stylesheet" href="/static/style.css">
<meta http-equiv="refresh" content="30">
</head>

<body>
<h1>📊 MoneyAssure Intraday Scanner</h1>
<p>Last Update: {{time}}</p>

<div class="container">

<div class="box green">
<h2>Top Gainers</h2>
<table>
<tr><th>Stock</th><th>LTP</th><th>%Chg</th></tr>
{% for g in gainers %}
<tr>
<td>{{g.Stock}}</td>
<td>{{g.LTP}}</td>
<td class="pos">{{g.Change}}</td>
</tr>
{% endfor %}
</table>
</div>

<div class="box red">
<h2>Top Losers</h2>
<table>
<tr><th>Stock</th><th>LTP</th><th>%Chg</th></tr>
{% for l in losers %}
<tr>
<td>{{l.Stock}}</td>
<td>{{l.LTP}}</td>
<td class="neg">{{l.Change}}</td>
</tr>
{% endfor %}
</table>
</div>

</div>
</body>
</html>

